
<div >
<div class="col-md-12 pl-0 pr-0">
  <div class="form-group">
    <label>First Name</label>
    <input type="text" class="form-control" placeholder="Company" value="Chet">
  </div>
  <div class="form-group">
    <label>First Name</label>
    <input type="text" class="form-control" placeholder="Company" value="Chet">
  </div>
  <div class="form-group">
    <label>First Name</label>
    <input type="text" class="form-control" placeholder="Company" value="Chet">
  </div>
  <div class="form-group pb-5">
    <label>First Name</label>
    <input type="text" class="form-control" placeholder="Company" value="Chet">
  </div>
</div>
<div id="editor-container" class="pb-5" style="width: 1024px; height: 600px;"></div>
</div>
<script>
unlayer.init({
  id: 'editor-container',
  projectId: 1234,
  displayMode: 'email'
})
</script>



