<div class="row">
  <div class="col-md-2 col-sm-0">
    
  </div>
<div class="col-md-8">
<div class="card card-user">
              <div class="card-header">
                <h5 class="card-title">Edit Profile</h5>
              </div>
              <div class="card-body">
                <form>
                  <div class="row">
                    <div class="input-row">
                      <div class="Polaris-Card__Section"><span class="Polaris-TextStyle--variationSubdued">To: {{customer.email}}</span></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-row">
                      <div class="Polaris-Card__Section"><span class="Polaris-TextStyle--variationSubdued">To: {{customer.email}}</span></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-row">
                      <div class="Polaris-Card__Section"><span class="Polaris-TextStyle--variationSubdued">To: {{customer.email}}</span></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-row">
                      <div class="Polaris-Card__Section"><span class="Polaris-TextStyle--variationSubdued">To: {{customer.email}}</span></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="update ml-auto mr-auto">
                      <button type="submit" class="btn btn-primary btn-round">Edit template</button>
                    
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
    <div class="col-md-2 col-sm-0">
    
  </div>
</div>          