<div class="row">
  <div class="col-md-6">
    <h5 class="text-center">Review Template</h5>
    <%= render 'form', template: @review_template %>
  </div>
  <div class="col-md-6">
    <h5>Thank you Template</h5>
    <%= render 'form', template: @thank_you_template %>
  </div>
</div>