
<div class="onboarding_modal">
  <div class="carousel">
    <div class="slide-container">

      <!--  Slider  -->

      <div class="slide">
        <div class="visual-content-container">
          <img src="https://tscweb-uxtest.azurewebsites.net/HostedAssets/scrolling-capture-16-9.gif" alt="" />              
        </div>
        <div class="helper-content-container">
          <div class="helper-content">
            <h2 class="slide-title">Slide One Title</h2>
            Helper text content.<br>
            Two Lines.
          </div>
        </div>
      </div>   

      <div class="slide">
        <div class="visual-content-container">
          <img src="https://tscweb-uxtest.azurewebsites.net/HostedAssets/scrolling-capture-16-9.gif" alt="" />              
        </div>
        <div class="helper-content-container">
          <div class="helper-content">
            <h2 class="slide-title">Slide Two Title</h2>
            Helper text content.<br>
          </div>
        </div>
      </div>   

      <div class="slide">
        <div class="visual-content-container">
          <img src="https://tscweb-uxtest.azurewebsites.net/HostedAssets/scrolling-capture-16-9.gif" alt="" />              
        </div>
        <div class="helper-content-container">
          <div class="helper-content">
            <h2 class="slide-title">Slide Three Title</h2>
            Helper text content.<br>
            Two Lines.
          </div>
        </div>
      </div>         

    </div>

    <div class="controls">
      <button class="button button-nav previous" title="Previous Slide">Back</button>
      <div class="dynamic-toggles"></div>
      <button class="button button-nav button-primary next" title="Next Slide">Next</button>
      <%# <button class="button button-primary complete onboarding-completed" title="Got It!">Got it!</button> %>
      <%= link_to 'Got it!', complete_onboarding_path, class: 'button button-primary complete onboarding-completed"' %>

    </div>
  </div>

</div>

<script>
  var slides = document.getElementsByClassName('slide');
  var toggles = document.getElementsByClassName('toggle');
  var nextButton = document.getElementsByClassName('next')[0];
  var previousButton = document.getElementsByClassName('previous')[0];
  var completeButton = document.getElementsByClassName('complete')[0];
  var controls = document.getElementsByClassName('controls')[0];
  var dynamicControls = document.getElementsByClassName('dynamic-toggles')[0];
  var activeClass = 'active';
  var activeSlideIndex = 0;

  function createToggle(label){
    var button = document.createElement('button');
    button.classList.add('toggle');
    button.title = 'Slide ' + (label + 1);
    button.setAttribute('data-id', label);
    button.addEventListener('click', function(e){
      activeSlideIndex = parseInt(e.target.getAttribute('data-id'));
      toggleSlide(activeSlideIndex);  
    });
    dynamicControls.appendChild(button);
  };

  function initToggles(){
    if(slides.length > 1){
      for (var i = 0; i < slides.length; ++i){
        createToggle(i);
      };
    };
    toggles = document.getElementsByClassName('toggle');  
    slides[0].classList.add(activeClass);
    toggles[0].classList.add(activeClass);
    setCarouselType();
    toggleDisabled();
    toggleLastSlide();
  };

  function setCarouselType(){
    if(slides.length > 1){
      controls.classList.add('has-nav');
    };
  };

  function toggleLastSlide(){
    console.log('active slide: ', activeSlideIndex);
    if(activeSlideIndex+1 === slides.length){
      controls.classList.add('on-last-slide');
    } else{
      controls.classList.remove('on-last-slide');
    }
  }

  function toggleDisabled(){
    (activeSlideIndex === 0) ? previousButton.disabled = true: previousButton.disabled = false;
    (activeSlideIndex === slides.length - 1) ? nextButton.disabled = true: nextButton.disabled = false;
  };

  function toggleSlide(slideIndex){
    for( var i = 0; i < slides.length; ++i){
      slides[i].classList.remove(activeClass);   
    } 
    slides[slideIndex].classList.add(activeClass);
    for( var i = 0; i < slides.length; ++i){
      toggles[i].classList.remove(activeClass);   
    }   
    toggles[slideIndex].classList.add(activeClass);
    toggleDisabled();
    toggleLastSlide()
  };
  // add event listeners

  nextButton.addEventListener('click', function(){
    if(activeSlideIndex < slides.length - 1){
      activeSlideIndex = activeSlideIndex + 1;
      toggleSlide(activeSlideIndex);  
    };
  });

  previousButton.addEventListener('click', function(){
    if(activeSlideIndex > 0){
      activeSlideIndex = activeSlideIndex - 1;
      toggleSlide(activeSlideIndex);  
    };
  });

  // init controls on load
  initToggles();
</script>

<style>
 .onboarding_modal {
	 background: #fff;
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
}
 .button {
	 background: #f0f6fc;
	 width: 100px;
	 height: 28px;
	 border-radius: 3px;
	 display: inline-block;
	 cursor: pointer;
	 border: 0;
	 box-shadow: 0 1px 10px rgba(0, 0, 0, .3);
	 font-family: 'Proxima Nova', sans-serif;
	 font-size: 14px;
	 outline: none;
}
 .button:hover, .button:focus {
	 background: #f4f9fd;
}
 .button:active {
	 background: #ecf3fb;
}
 .button.button-primary {
	 background: #4c89cf;
	 color: #fff;
}
 .button.button-primary:hover, .button.button-primary:focus {
	 background: #74a4da;
}
 .button.button-primary:active {
	 background: #316fb7;
}
 .button.button-nav {
	 display: none;
}
 .button.previous {
	 float: left;
}
 .button.next {
	 float: right;
}
 .button.complete {
	 float: right;
	 display: none;
}
 .button:disabled {
	 opacity: 0.5;
	 cursor: initial;
	 pointer-events: none;
}
 .carousel {
	 width: 640px;
	 margin: auto;
}
 .controls {
	 text-align: center;
	 padding: 20px;
	 white-space: nowrap;
}
 .controls.on-last-slide .button-nav.next {
	 display: none;
}
 .controls.on-last-slide .complete {
	 display: inline-block;
}
 .controls.has-nav .button-nav {
	 display: inline-block;
}
 .controls .dynamic-toggles {
	 display: inline-block;
}
 .controls .toggle {
	 margin: 0 0.25rem;
	 display: inline-block;
	 width: 1rem;
	 height: 1rem;
	 border: 0;
	 background: #fff;
	 border-radius: 100%;
	 cursor: pointer;
	 outline: none;
	 background: #cdd7e0;
}
 .controls .toggle:hover, .controls .toggle:focus {
	 background: #e0e8f1;
}
 .controls .toggle.active {
	 background: #4c89cf;
}
 .slide-container {
	 height: 460px;
}
 .slide {
	 position: absolute;
	 top: 0;
	 right: 0;
	 bottom: 0;
	 left: 0;
	 z-index: 0;
	 background: #fff;
	 opacity: 0;
	 transition: opacity 0.3s ease;
	 height: 360px;
}
 .slide.active {
	 opacity: 1;
	 z-index: 1;
}
 .visual-content-container {
	 height: 360px;
	 width: 640px;
}
 .visual-content-container img, .visual-content-container video {
	 max-width: 100%;
	 max-height: 100%;
}
 .helper-content-container {
	 display: table;
	 width: 100%;
	 position: absolute;
	 right: 0;
	 top: 360px;
	 left: 0;
	 height: 100px;
	 box-sizing: border-box;
	 padding: 0 20px;
}
 .helper-content {
	 display: table-cell;
	 vertical-align: middle;
	 font-size: 1rem;
}
 .slide-title {
	 font-size: 1.2rem;
	 font-weight: 600;
}
 
</style>