
<% flash.keys.each do |key|%> 
  <div class="col-md-12 " style="max-width: 1024px">
    <div style="position: absolute; z-index:9; width: 50%; marin-right: 23%; margin-left: 23%" >
      <div class="alert alert-<%= key %> alert-dismissible animated fadeInDown">
        <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
          <i class="nc-icon nc-simple-remove"></i>
        </button>
        <span><%= flash[key] %> </span>
      </div>
    </div>
  </div>
<% end %>
<script>
if($( ".alert.animated").is(':visible')) {
  setTimeout(function(){
     $(".alert.animated").parent().fadeOut(400, function(){
        $(".alert.animated").remove();
    });
    }, 
  4000);
}
</script>
